<section class="about-section" id="about-us">
  <div class="container">
    <div class="about-content">
      <h2 class="about-title">Про Меблерію</h2>
      <p class="about-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/cheerful_monk/assets/a-behind-the-scenes-desk-CwvZx_AE.webp 1x, /cheerful_monk/assets/a-behind-the-scenes-desk@2x-CsOqHO7E.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="/cheerful_monk/assets/a-behind-the-scenes-tablet-l9_uBNaq.webp 1x, /cheerful_monk/assets/a-behind-the-scenes-tablet@2x-rv4fRaJF.webp 2x"
      />

      <source
        media="(max-width: 767px)"
        srcset="/cheerful_monk/assets/a-behind-the-scenes-mob-nZDhFZql.webp 1x, /cheerful_monk/assets/a-behind-the-scenes-mob@2x-DzAXmxWr.webp 2x"
      />
      <img
        src="/cheerful_monk/assets/a-behind-the-scenes-mob-nZDhFZql.webp"
        alt="Команда Меблерії"
      />
    </picture>
  </div>
</section>
