<section class="categories" id="furniture-list">
  <div class="container">
    <h2 class="categories-title">Наші меблі</h2>
    <h3 class="categories-subtitle">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </h3>
    <ul class="categories-list"></ul>
    <ul class="furnitures-list"></ul>
    <div class="loader">
      <div id="furnitures-list-loader" class="slider__loader is-hidden"></div>
    </div>
    <button class="load-more-btn buttonRed">Показати ще</button>
  </div>
</section>
