
<div id="orderModal" class="order-modal">
  <div class="modal-content">
    <button class="order-close">
        <svg width="22" height="22">
            <use href="/test_prod/assets/close-Fct2_Mnl.svg#icon-close"></use>
        </svg>
    </button>
    <h2 class="order-title">Замовити</h2>
    <form id="orderForm" class="order-form">
      <label class="order-label" for="name">Ім'я</label>
      <input class="order-input" type="text" id="name" name="name" placeholder="Дмитро" required>

      <label class="order-label" for="phone">Телефон</label>
      <input class="order-input" type="tel" id="phone" name="phone" placeholder="38 099 123 22 11" required>

      <label class="order-label" for="comment">Коментар</label>
      <textarea class="order-textarea" id="comment" name="comment" placeholder="Введіть ваш коментар"></textarea>

      <button type="submit" class="order-btn">Надіслати заявку</button>
    </form>
  </div>
</div>
