<section class="section questions" id="questions">
  <div class="container">
    <h2 class="questions-title">Часті питання</h2>
    <ul class="questions-list">
      <li class="questions-item">
        <input type="checkbox" name="faq" id="q1" />
        <label for="q1" class="questions-item-title"
          >Як здійснюється доставка меблів?
          <svg class="arrow" width="32" height="32">
            <use href="/cheerful_monk/icon.svg#icon-chevron-down"></use>
          </svg>
        </label>
        <p class="questions-item-text">
          Ми доставляємо замовлення по всій Україні через надійні служби. Термін
          доставки зазвичай складає 3-7 днів, залежно від регіону.
        </p>
      </li>

      <li class="questions-item">
        <input type="checkbox" name="faq" id="q2" />
        <label for="q2" class="questions-item-title"
          >Чи є можливість вибрати колір або матеріал?
          <svg class="arrow" width="32" height="32">
            <use href="/cheerful_monk/icon.svg#icon-chevron-down"></use>
          </svg>
        </label>
        <p class="questions-item-text">
          Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
          доступні опції вказані на сторінці товару.
        </p>
      </li>

      <li class="questions-item">
        <input type="checkbox" name="faq" id="q3" />
        <label for="q3" class="questions-item-title"
          >Чи можна повернути товар, якщо він не підійшов?
          <svg class="arrow" width="32" height="32">
            <use href="/cheerful_monk/icon.svg#icon-chevron-down"></use>
          </svg>
        </label>
        <p class="questions-item-text">
          Так, ви можете повернути товар протягом 14 днів, якщо він не був у
          використанні та збережений у первинному вигляді.
        </p>
      </li>

      <li class="questions-item">
        <input type="checkbox" name="faq" id="q4" />
        <label for="q4" class="questions-item-title"
          >Чи надаєте ви послугу збирання меблів?
          <svg class="arrow" width="32" height="32">
            <use href="/cheerful_monk/icon.svg#icon-chevron-down"></use>
          </svg>
        </label>
        <p class="questions-item-text">
          Так, під час оформлення замовлення можна обрати послугу збирання. Наші
          майстри зберуть меблі у зручний для вас час.
        </p>
      </li>

      <li class="questions-item">
        <input type="checkbox" name="faq" id="q5" />
        <label for="q5" class="questions-item-title"
          >Як здійснити оплату?
          <svg class="arrow" width="32" height="32">
            <use href="/cheerful_monk/icon.svg#icon-chevron-down"></use>
          </svg>
        </label>
        <p class="questions-item-text">
          Ми приймаємо оплату картою онлайн, банківським переказом або
          післяплатою при отриманні.
        </p>
      </li>
    </ul>
  </div>
</section>
