<section class="about-section" id="about-us">
  <div class="container">
    <div class="about-content">
      <h2 class="about-title">Про Меблерію</h2>
      <p class="about-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/about-us-section/a-behind-the-scenes-desk.webp    1x,
          /img/about-us-section/a-behind-the-scenes-desk@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/about-us-section/a-behind-the-scenes-tablet.webp    1x,
          /img/about-us-section/a-behind-the-scenes-tablet@2x.webp 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          /img/about-us-section/a-behind-the-scenes-mob.webp    1x,
          /img/about-us-section/a-behind-the-scenes-mob@2x.webp 2x
        "
      />
      <img
        src="/img/about-us-section/a-behind-the-scenes-mob.webp"
        alt="Команда Меблерії"
      />
    </picture>
  </div>
</section>
