<header class="header-section">
  <div class="container">
    <div class="header-container">
      <!-- logo -->
      <a class="logo-link" href="./index.html">
        <svg class="logo-svg" width="100" height="72">
          <use href="/icon.svg#icon-company-logo"></use>
        </svg>
      </a>

      <!-- nav desktop -->
      <nav class="navigation-section">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#furniture-list">Наші меблі</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#questions">Часті питання</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Відгуки</a>
          </li>
        </ul>
      </nav>

      <!-- anchor button desktop -->
      <a href="#furniture-list" class="buy-button">До покупок</a>

      <!-- burger -->
      <button class="burger-btn" aria-label="Open menu">
        <svg width="32" height="32">
          <use href="/icon.svg#icon-menu"></use>
        </svg>
      </button>

      <!-- close (tablet) -->
      <button class="close-btn-header" aria-label="Close menu">
        <svg width="32" height="32">
          <use href="/icon.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <!-- overlay -->
    <div class="overlay"></div>

    <!-- mobile / tablet menu -->
    <div class="mobile-menu">
      <!-- mobile header -->
      <div class="mobile-menu-header">
        <a class="logo-link-menu" href="./index.html">
          <svg width="100" height="100">
            <use href="/icon.svg#icon-company-logo"></use>
          </svg>
        </a>

        <button class="close-btn" aria-label="Close menu">
          <svg width="32" height="32">
            <use href="/icon.svg#icon-x"></use>
          </svg>
        </button>
      </div>

      <!-- menu -->
      <ul class="mobile-nav">
        <li><a class="nav-link" href="#furniture-list">Наші меблі</a></li>
        <li><a class="nav-link" href="#about-us">Про нас</a></li>
        <li><a class="nav-link" href="#questions">Часті питання</a></li>
        <li><a class="nav-link" href="#reviews">Відгуки</a></li>
      </ul>

      <!-- anchor button mobile -->
      <a href="#furniture-list" class="buy-button-mobile-menu"> До покупок </a>
    </div>
  </div>
</header>
