<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Головна сторінка Наші меблі"
      >
        <svg class="logo-svg" width="163" height="70">
          <use href="/icon.svg#icon-company-logo"></use>
        </svg>
      </a>
      <nav class="burger-menu-nav">
        <ul class="burger-list-column">
          <li>
            <a
              class="header-link"
              href="#furniture-list"
              aria-label="Наші меблі"
              >Наші меблі</a
            >
          </li>
          <li>
            <a class="header-link" href="#about-us" aria-label="Про нас"
              >Про нас</a
            >
          </li>
          <li>
            <a
              class="header-link"
              href="#popular-products"
              aria-label="Популярне"
              >Популярне</a
            >
          </li>
          <li>
            <a class="header-link" href="#questions" aria-label="Часті питання"
              >Часті питання</a
            >
          </li>
          <li>
            <a class="header-link" href="#reviews" aria-label="Відгуки"
              >Відгуки</a
            >
          </li>
          <li>
            <a
              class="buttonRed header-to-seil"
              href="#furniture-list"
              aria-label="До покупок"
              >До покупок</a
            >
          </li>
        </ul>
      </nav>
      <button
        class="header-burger-btn"
        type="button"
        aria-label="Відкрити мобільне меню"
      >
        <svg width="32" height="32">
          <use href="/icon.svg#icon-menu"></use>
        </svg>
      </button>
      <button
        class="header-close-btn hidann-button"
        type="button"
        aria-label="Закрити мобільне меню"
      >
        <svg width="32" height="32">
          <use href="/icon.svg#icon-x"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="nav-bar-mob">
  <div class="container header-list-linc">
    <nav class="header-menu-desktop">
      <ul class="header-list-row">
        <li>
          <a class="header-link" href="#furniture-list" aria-label="Наші меблі"
            >Наші меблі</a
          >
        </li>
        <li>
          <a class="header-link" href="#about-us" aria-label="Про нас"
            >Про нас</a
          >
        </li>
        <li>
          <a class="header-link" href="#popular-products" aria-label="Популярне"
            >Популярне</a
          >
        </li>
        <li>
          <a class="header-link" href="#questions" aria-label="Часті питання"
            >Часті питання</a
          >
        </li>
        <li>
          <a class="header-link" href="#reviews" aria-label="Відгуки"
            >Відгуки</a
          >
        </li>
        <li>
          <a
            class="buttonRed header-button-buy"
            href="#furniture-list"
            aria-label="До покупок"
            >До покупок</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="header-shadov"></div>
