<section id="popular-products" class="popular-products">
  <div class="container popular-products-content">
    <h2 class="popular-products-title">Популярні товари</h2>
    <div class="slider swiper">
      <ul class="slider__wrapper swiper-wrapper" id="slider__wrapper"></ul>
      <div class="slider-nav-pag">
        <div class="swiper-pagination slider__pagination"></div>
        <div class="swiper-pagination-arrows">
          <button class="sliderArrows slider__btn pagination-slider__btn--prev">
            <svg viewBox="0 0 32 32" width="24" height="24">
              <use href="/icon.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button class="sliderArrows slider__btn pagination-slider__btn--next">
            <svg viewBox="0 0 32 32" width="24" height="24">
              <use href="/icon.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
