.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #ffffff;
}
.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.burger-menu-nav {
  display: none;
}
.burger-list-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  transition: all 0.25s ease;
}
.header-link:hover,
.header-link:focus {
  opacity: 0.5;
  transition: all 0.25s ease;
}

.header-close-btn {
  display: block;
  padding: 8px;
  border: none;
  background-color: transparent;
}
.header-burger-btn {
  display: block;
  padding: 8px;
  border: none;
  background-color: transparent;
}
.header-menu-desktop {
  display: block;
}

.nav-bar-mob {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
  pointer-events: none;
  padding: 102px 32px 24px 32px;
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-linc {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  align-items: center;
  min-width: auto;
}
.header-list-row {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}
.header-button-buy {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-to-seil {
  display: flex;
  width: 129px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidann-button {
  display: none;
}
.header-shadov {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 74px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 12, 9, 0.5);
  transition: all 0.25s ease;
}
.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  transition: all 0.25s ease;
}
@media only screen and (max-width: 375px) {
  .header-button-buy {
    max-width: fit-content;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar-mob {
    width: 249px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    right: 0;
    height: fit-content;
  }
  .header-button-buy {
    width: 185px;
  }
  .header-list-row {
    align-items: flex-end;
  }
}

@media only screen and (min-width: 900px) {
  .nav-bar-mob {
    width: 298px;
    padding: 102px 98px 24px 25px;
  }
}

@media only screen and (min-width: 1440px) {
  .burger-menu-nav {
    display: flex;
  }
  .is-open {
    visibility: hidden;
  }
  .header-burger-btn {
    display: none;
  }
  .header-close-btn {
    display: none;
  }
  .header-shadov {
    visibility: hidden;
  }
}
